#bemVindo{
    background-image: linear-gradient(red, blue, yellow, GREEN);
    margin:90px;}
   .menu{
    list-style:none;
    position: fixed;
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    top:10px;
    right:30px;
    cursor:pointer;
}
 .link{
     float:left;
     padding:9px   
 } 
#nome{
    font-family: 'Silkscreen', cursive;
}
a{
    color: Gold;
    text-decoration: none;
}
a:hover{
    transition: 3s;
    color:LawnGreen;
    font-size: 30px;
    text-decoration-style: wavy;
}
























































































































































































































































































